<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Hello world! </title>
    <h1> Word count </h1>
    <form action="count">
        <textarea name="text" id="" cols="100" rows="25"> Input text here: </textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</head>
<body>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy
                    <a href="about">About</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>